fastapi==0.78.0
# starlette is a dependency of fastapi, but we also use it directly for some
# lower-level things. Hence, we want to list it explicltly but leave its
# version unspecified so that what ever version matches the one of fastapi will
# be installed.
starlette

neo4j==5.0.0a1
uvicorn==0.17.6
